
body {
  margin: 20px;
  height: 100%;
  width: 100%;
  background-image: url('background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  flex: none;
}

.green {
  color: green;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
}

.social {
  position: relative;
  display: flex;
  align-items: center;
  left: 43%;
  width: 50%;
  list-style: none;
  flex: none;
}

.fa-brands {
  padding: 1vh;
  color: gray;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  left: 40%;
  list-style: none;
}

.black {
  color: black;
  padding: 1vh;
}
@media only screen and (max-width: 395px){

.navbar{
  position: relative;
  display: flex;
  align-items: center;
  left: 0.5%;
  
}
.black{
 font-size: small;
 padding: 0.5px;
}
.social{
  position: relative;
  display: flex;
  align-items: center;
  left: 0.5%;
  width: 50%;
  list-style: none;
}
.fa-brands {
  padding: 0.5px;
  
}
}
